<h2>Product Details</h2>

<div *ngIf="product.id == 1">
  <img src="assets/1/img1.jpg">
  <img src="assets/1/img2.jpg">
</div>

<div *ngIf="product.id == 2">
  <img src="assets/2/img1.jpg">
  <img src="assets/2/img2.jpg">
</div>

<div *ngIf="product.id == 3">
  <img src="assets/3/img1.jpg">
  <img src="assets/3/img2.jpg">
</div>

<div *ngIf="product.id == 4">
  <img src="assets/4/img1.jpg">
  <img src="assets/4/img2.jpg">
</div>

<div *ngIf="product.id == 5">
  <img src="assets/5/img1.jpg">
  <img src="assets/5/img2.jpg">
</div>

<div *ngIf="product.id == 6">
  <img src="assets/6/img1.jpg">
  <img src="assets/6/img2.jpg">
</div>

<div *ngIf="product.id == 7">
  <img src="assets/7/img1.jpg">
  <img src="assets/7/img2.jpg">
</div>

<div *ngIf="product.id == 8">
  <img src="assets/8/img1.jpg">
  <img src="assets/8/img2.jpg">
</div>

<div *ngIf="product.id == 9">
  <img src="assets/9/img1.jpg">
  <img src="assets/9/img2.jpg">
</div>

<div *ngIf="product.id == 10">
  <img src="assets/10/img1.jpg">
  <img src="assets/10/img2.jpg">
</div>


<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p style="text-align: justify;padding: 0px 750px;">{{ product.description }}</p>

  <button (click)="addToCart(product)">Buy</button>
  <a id="amazon_link" *ngIf="product.id == 1" href="{{product.link}}">Buy on Amazon</a>
  <a id="amazon_link" *ngIf="product.id == 2" href="{{product.link}}">Buy on Amazon</a>
  <a id="amazon_link" *ngIf="product.id == 3" href="{{product.link}}">Buy on Amazon</a>
  <a id="amazon_link" *ngIf="product.id == 4" href="{{product.link}}">Buy on Amazon</a>
  <a id="amazon_link" *ngIf="product.id == 5" href="{{product.link}}">Buy on Amazon</a>
  <a id="amazon_link" *ngIf="product.id == 6" href="{{product.link}}">Buy on Amazon</a>
  <a id="amazon_link" *ngIf="product.id == 7" href="{{product.link}}">Buy on Amazon</a>
  <a id="amazon_link" *ngIf="product.id == 8" href="{{product.link}}">Buy on Amazon</a>
  <a id="amazon_link" *ngIf="product.id == 9" href="{{product.link}}">Buy on Amazon</a>
  <a id="amazon_link" *ngIf="product.id == 10" href="{{product.link}}">Buy on Amazon</a>


</div>
