<div *ngFor="let product of products" class="item">

  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    {{ product.description }}
  </p>

  <div *ngIf="product.id == 1">
    <button id="share" style="background-color: green">
      <a href="https://api.whatsapp.com/send/?phone&text=https%3A%2F%2Fwww.shorturl.at%2FcBDF4+Apple+Lightning+to+3.5+mm+Headphone+Jack+Adapter&app_absent=0">WhatsApp</a>
    </button>
    <button id="share">
      <a href="https://telegram.me/share/url?url=https://www.shorturl.at/cBDF4&text=Apple%20Lightning%20to%203.5%20mm%20Headphone%20Jack%20Adapter">Telegram</a>
    </button>
  </div>

  <div *ngIf="product.id == 2">
    <button id="share" style="background-color: green">
      <a href="https://api.whatsapp.com/send/?phone&text=https://www.shorturl.at/cmKS7+Fjallraven,+Kanken+Classic+Backpack&app_absent=0">WhatsApp</a>
    </button>
    <button id="share">
      <a href="https://telegram.me/share/url?url=https://www.shorturl.at/cmKS7&text=Fjallraven,%20Kanken%20Classic%20Backpack">Telegram</a>
    </button>
  </div>

  <div *ngIf="product.id == 3">
    <button id="share" style="background-color: green">
      <a href="https://api.whatsapp.com/send/?phone&text=https%3A%2F%2Fwww.shorturl.at%2FcBDF4+Apple+Lightning+to+3.5+mm+Headphone+Jack+Adapter&app_absent=0">WhatsApp</a>
    </button>
    <button id="share">
      <a href="https://telegram.me/share/url?url=https://www.shorturl.at/cmKS7&text=Fjallraven,%20Kanken%20Classic%20Backpack">Telegram</a>
    </button>
  </div>

  <div *ngIf="product.id == 4">
    <button id="share" style="background-color: green">
      <a href="https://api.whatsapp.com/send/?phone&text=https%3A%2F%2Fwww.shorturl.at%2FcBDF4+Apple+Lightning+to+3.5+mm+Headphone+Jack+Adapter&app_absent=0">WhatsApp</a>
    </button>
    <button id="share">
      <a href="https://telegram.me/share/url?url=https://www.shorturl.at/cmKS7&text=Fjallraven,%20Kanken%20Classic%20Backpack">Telegram</a>
    </button>
  </div>

  <div *ngIf="product.id == 5">
    <button id="share" style="background-color: green">
      <a href="https://api.whatsapp.com/send/?phone&text=https%3A%2F%2Fwww.shorturl.at%2FcBDF4+Apple+Lightning+to+3.5+mm+Headphone+Jack+Adapter&app_absent=0">WhatsApp</a>
    </button>
    <button id="share">
      <a href="https://telegram.me/share/url?url=https://www.shorturl.at/cmKS7&text=Fjallraven,%20Kanken%20Classic%20Backpack">Telegram</a>
    </button>
  </div>

  <div *ngIf="product.id == 6">
    <button id="share" style="background-color: green">
      <a href="https://api.whatsapp.com/send/?phone&text=https%3A%2F%2Fwww.shorturl.at%2FcBDF4+Apple+Lightning+to+3.5+mm+Headphone+Jack+Adapter&app_absent=0">WhatsApp</a>
    </button>
    <button id="share">
      <a href="https://telegram.me/share/url?url=https://www.shorturl.at/cmKS7&text=Fjallraven,%20Kanken%20Classic%20Backpack">Telegram</a>
    </button>
  </div>

  <div *ngIf="product.id == 7">
    <button id="share" style="background-color: green">
      <a href="https://api.whatsapp.com/send/?phone&text=https%3A%2F%2Fwww.shorturl.at%2FcBDF4+Apple+Lightning+to+3.5+mm+Headphone+Jack+Adapter&app_absent=0">WhatsApp</a>
    </button>
    <button id="share">
      <a href="https://telegram.me/share/url?url=https://www.shorturl.at/cmKS7&text=Fjallraven,%20Kanken%20Classic%20Backpack">Telegram</a>
    </button>
  </div>

  <div *ngIf="product.id == 8">
    <button id="share" style="background-color: green">
      <a href="https://api.whatsapp.com/send/?phone&text=https%3A%2F%2Fwww.shorturl.at%2FcBDF4+Apple+Lightning+to+3.5+mm+Headphone+Jack+Adapter&app_absent=0">WhatsApp</a>
    </button>
    <button id="share">
      <a href="https://telegram.me/share/url?url=https://www.shorturl.at/cmKS7&text=Fjallraven,%20Kanken%20Classic%20Backpack">Telegram</a>
    </button>
  </div>

  <div *ngIf="product.id == 9">
    <button id="share" style="background-color: green">
      <a href="https://api.whatsapp.com/send/?phone&text=https%3A%2F%2Fwww.shorturl.at%2FcBDF4+Apple+Lightning+to+3.5+mm+Headphone+Jack+Adapter&app_absent=0">WhatsApp</a>
    </button>
    <button id="share">
      <a href="https://telegram.me/share/url?url=https://www.shorturl.at/cmKS7&text=Fjallraven,%20Kanken%20Classic%20Backpack">Telegram</a>
    </button>
  </div>

  <div *ngIf="product.id == 10">
    <button id="share" style="background-color: green">
      <a href="https://api.whatsapp.com/send/?phone&text=https%3A%2F%2Fwww.shorturl.at%2FcBDF4+Apple+Lightning+to+3.5+mm+Headphone+Jack+Adapter&app_absent=0">WhatsApp</a>
    </button>
    <button id="share">
      <a href="https://telegram.me/share/url?url=https://www.shorturl.at/cmKS7&text=Fjallraven,%20Kanken%20Classic%20Backpack">Telegram</a>
    </button>
  </div>


  <app-product-alerts
  [product]="product"
  (notify)="onNotify()">
  </app-product-alerts>

</div>
