/* Global Styles */

* {
  font-family: 'Poppins', sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  #overflow-x: hidden;
}

.container {
  text-align: center;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

.item{
  display: inline-block;
  width: 17%;
  vertical-align: top;
}

#like{
  font-size: 20px;
  cursor: pointer;
  position: relative;
  top: 3px;
  height: 37px;
  margin-right: 10px;
}

#like:disabled{
  color: yellow;
  background-color: #1976d2;
}

#remove{
  margin-top: 20px;
  cursor: pointer;
  margin-left: 10px;
  height: 38px;
  position: relative;
  top: 2px;
  background-color: red;
}

img{
  height: 200px;
  padding: 0px 25px;
  margin-top: 50px;
  cursor: pointer;
}

ng-container{
  min-height: 0px;
}

#share{
  display: inline-block;
  margin: 0px 0px 0px 10px;
}

#share a{
  color: white;
}

h1 {
  font-size: 32px;
}

.top_a{
  font-family: 'Lexend Mega', sans-serif;
}

h2 {
  font-size: 20px;
  text-align: center;
}
h3{
  text-align: center;
  font-size: 16px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 12px;
  text-align: justify;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

#category{
  position: absolute;
  left: 878px;
  top: 25px;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
  margin-bottom: 10px;
}


.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

app-product-list{
  width: 100%;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #1976d2;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
  position: relative;
  left: 735px;
}

.shipping_prices{
  text-align: center;
}
