<select id="category" (change)="hidecategory($event)">
  <option value="all">All</option>
  <option value="electronics">Electronics </option>
  <option value="home and kitchen">Home and Kitchen</option>
  <option value="sports and outdoors">Sports and Outdoors</option>
  <option value="pet supplies">Pet Supplies</option>
</select>

<div *ngFor="let product of products" class="item">
  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
      {{ product.name }}
      <img [src]="product.link">
    </a>
  </h3>
  <h4>{{ product.price | currency }}</h4>
  <h5>Category: {{product.category}}</h5>

  <button (click)="addlike()" class="fa fa-thumbs-up" id="like">{{product.likes}}</button>
  <button (click)="addToCart(product)">Buy</button>
  <button (click)="remove()" class="fa fa-times" id="remove"></button>
</div>
